<nav class="navbar navbar-expand-md bg-sette pb-n1 navbar-light justify-content-start">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../assets/img/logo.png" class="object-cover img-fluid" alt="SETTE" width="250">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mt-3">
                <li class="nav-item pl-3 pb-2 mx-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Од</mat-label>
                        <input #from matInput [matDatepicker]="datepickerRef" name="datepicker" ngModel #dateCtrl="ngModel" required readonly />
                        <mat-datepicker-toggle [for]="datepickerRef" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #datepickerRef></mat-datepicker>
                        <mat-error *ngIf="dateCtrl.errors?.[required] && deptCtrl.touched">Choose a Date</mat-error>
                    </mat-form-field>
                </li>
                <li class="nav-item pl-3 pb-2 mx-2">
                    <mat-form-field appearance="outline">
                        <mat-label>До</mat-label>
                        <input #to matInput [matDatepicker]="datepickerRef1" name="datepicker1" ngModel #dateCtrl="ngModel" required readonly />
                        <mat-datepicker-toggle [for]="datepickerRef1" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #datepickerRef1></mat-datepicker>
                        <mat-error *ngIf="dateCtrl.errors?.[required] && deptCtrl.touched">Choose a Date
                        </mat-error>
                    </mat-form-field>
                </li>
                <li class="nav-item pl-3 py-2 mx-2">
                    <button (click)="filterByDate(from.value, to.value)" type="button" class="mr-2 px-2 py-1 text-sm font-medium leading-5 text-white transition-colors bg-skyblue-600 border border-transparent rounded-lg active:bg-skyblue-600 hover:bg-skyblue-700 focus:outline-none focus:shadow-outline-skyblue">
                        Прикажи
                    </button>
                </li>
                <li class="nav-item pl-3 py-2 mx-2">
                    <button (click)="resetFilter(); from.value = ''; to.value = '';" type="button" class="mr-2 px-2 py-1 text-sm font-medium leading-5 text-white transition-colors bg-skyblue-600 border border-transparent rounded-lg active:bg-skyblue-600 hover:bg-skyblue-700 focus:outline-none focus:shadow-outline-skyblue">
                        Освежи
                    </button>
                </li>

                <li class="d-flex nav-item pl-3 py-1 mx-2">
                    <!-- <input type="next" name="searchString" [(ngModel)]="searchString" class="form-control rounded" size="32" placeholder="Пребарувај тука" style="min-width: 125px;"> -->
                    <input matInput type="next" name="searchString" [(ngModel)]="searchString" (ngModelChange)="filterData()" class="form-control rounded" size="32" placeholder="Пребарувај тука" style="min-width: 125px;">

                </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right navbar-expand-md">
                <li class="nav-item pl-3 pb-2 ml-1 mr-2 pt-2">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle dropdown-toggle-split">
                            <i class="fa fa-bars"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="/mediums">Медиум</a>
                            <a href="/tags">Таг</a>
                            <a href="/authors">Автор</a>
                            <a href="/clients">Клиент</a>
                            <a href="/users">Корисници</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item pl-3 pt-2 mr-5">
                    <button (click)=logOut() *ngIf="authService.isUserLoggedIn()" class="btn btn-danger bg-sette" routerLink="/admin-login" title="Одјави се">
                        <i class="fa fa-sign-out" style="font-size:22px"></i></button>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div class="row">
    <div class="div-4 col-md-2" style="min-height: 700px">
        <div class="form-group">
            <select class="form-control mt-5 ml-2 mr-5" onchange="location = this.value;">
                <option value="">Клип</option>
                <option value="/tenders">Тендери</option>
                <option value="/bankruptcies" selected="selected">Стечаи</option>
                <option value="/sales">Продажби</option>
                <option value="/notifications">Известувања</option>
            </select>
        </div>
    </div>
    <div class="col-md-10">
        <h2 class="text-center font-bold mt-1 mb-2">Стечаи</h2>
        <hr class="mx-2">
        <div class="d-flex justify-content-lg-start justify-content-md-start justify-content-sm-start justify-content-start mx-4" *ngIf="showBankruptciesForm == false">
            <button class="mr-1 px-2 py-1 text-sm font-medium text-white transition-colors duration-150 bg-skyblue-600 border border-transparent active:bg-skyblue-600 hover:bg-skyblue-700 focus:outline-none focus:shadow-outline-skyblue" (click)="checkBankruptciesForm()"
                color="primary">Нов Стечај</button>
            <button class="mr-1 px-2 py-1 text-sm font-medium text-white transition-colors duration-150 bg-danger border border-transparent active:bg-danger hover:bg-danger focus:outline-none focus:shadow-outline-danger" (click)="deleteMultipleBankruptcies()" color="warn">Избриши Селектирани</button>
        </div>
        <div class="d-flex justify-content-lg-start justify-content-md-start justify-content-sm-start justify-content-start mx-4" *ngIf="showBankruptciesForm == true">
            <button class="mr-1 px-2 py-1 text-sm font-medium text-white transition-colors duration-150 bg-skyblue-600 border border-transparent active:bg-skyblue-600 hover:bg-skyblue-700 focus:outline-none focus:shadow-outline-skyblue" (click)="checkBankruptciesForm()"
                color="primary">Сокриј</button>
            <button class="mr-1 px-2 py-1 text-sm font-medium text-white transition-colors duration-150 bg-danger border border-transparent active:bg-danger hover:bg-danger focus:outline-none focus:shadow-outline-danger" (click)="deleteMultipleBankruptcies()" color="warn">Избриши Селектирани</button>
        </div>


        <div class="container-fluid">
            <div class="row">
                <div *ngIf="showBankruptciesForm == true">
                    <div class="alert alert-warning" [hidden]="alert_warning==false">Пополнете го правилно формуларот, ЕМБС треба да има 7 карактери</div>
                    <form autocomplete="off" class="mt-1 mb-3" [formGroup]="bankruptciesForm">
                        <div class="row">
                            <div class="col-md-6 mb-3 mt-3">
                                <mat-form-field appearance="outline" class="mb-2 w-100">
                                    <mat-label>Име</mat-label>
                                    <input formControlName="bankruptcy_name" matInput>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="mb-2 w-100">
                                    <mat-label>ЕМБС</mat-label>
                                    <input formControlName="bankruptcy_embs" minlength="7" maxlength="7" matInput>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>URL</mat-label>
                                    <input formControlName="bankruptcy_url" matInput>
                                </mat-form-field>
                                <input hidden type="file" class="w-100" id="file" (change)="onFileSelected()" #fileInput>
                                <mat-form-field class="mb-2 w-50" appearance="outline">
                                    <mat-label>Слика</mat-label>
                                    <input formControlName="bankruptcy_image" matInput>
                                </mat-form-field>

                                <!--
                                    <mat-form-field class="mb-2 w-50" appearance="outline">
                                    <mat-label>Слика</mat-label>
                                    <input formControlName="bankruptcy_image" matInput>
                                    <input (change)="onFileSelectedNew($event)" #fileUpload type="file">
                                    <span class="file-name">{{selectedFile?.name}}</span>
                                </mat-form-field>
                                <button type="button" mat-raised-button (click)="fileUpload.click()">Choose File</button>
                                -->


                                <button (click)="fileInput.click()" class="ml-4" mat-mini-fab color="primary">
                                    <mat-icon>attach_file</mat-icon>
                                </button>
                                <mat-form-field appearance="outline" class="mb-1 w-100">
                                    <mat-label>Фаза на стечај</mat-label>
                                    <mat-select class="mt-2" formControlName="bankruptcy_phase" matInput>
                                        <mat-option value="Претстечај (Претходна постапка)">Претстечај (Претходна постапка)
                                        </mat-option>
                                        <mat-option value="Собрание на доверители">Собрание на доверители</mat-option>
                                        <mat-option value="Депонирање во стечајното досие">Депонирање во стечајното досие
                                        </mat-option>
                                        <mat-option value="Проценка на имот">Проценка на имот</mat-option>
                                        <mat-option value="Продажба на имот">Продажба на имот</mat-option>
                                        <mat-option value="Отворање на стечајна постапка">Отворање на стечајна постапка
                                        </mat-option>
                                        <mat-option value="Отворање и заклучување на стечајна постапка">Отворање и заклучување на стечајна постапка</mat-option>
                                        <mat-option value="Заклучување на стечајна постапка">Заклучување на стечајна постапка
                                        </mat-option>
                                        <mat-option value="Запирање на претходна постапка">Запирање на претходна постапка
                                        </mat-option>
                                        <mat-option value="Набавка на услуги/стоки">Набавка на услуги/стоки</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Датум на стечај</mat-label>
                                    <input matInput formControlName="bankruptcy_date" [matDatepicker]="dateExpire">
                                    <mat-datepicker-toggle matSuffix [for]="dateExpire"></mat-datepicker-toggle>
                                    <mat-datepicker #dateExpire></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field appearance="outline" class="w-100 mt-3">
                                    <mat-label>Текст</mat-label>
                                    <textarea rows="19" formControlName="customMessage" matInput></textarea>
                                </mat-form-field>
                            </div>

                        </div>

                        <div class="d-flex justify-content-lg-start justify-content-md-start justify-content-sm-start justify-content-start">
                            <button class="mr-1 px-2 py-1 text-sm font-medium text-white transition-colors duration-150 bg-skyblue-600 border border-transparent active:bg-skyblue-600 hover:bg-skyblue-700 focus:outline-none focus:shadow-outline-skyblue" *ngIf="editMode == false;"
                                color="primary" (click)="addBankruptcy()">Додади
                                стечај</button>
                        </div>

                        <div class="d-flex justify-content-lg-start justify-content-md-start justify-content-sm-start justify-content-start" *ngIf="editMode == true">
                            <button class="mr-1 px-2 py-1 text-sm font-medium text-white transition-colors duration-150 bg-skyblue-600 border border-transparent active:bg-skyblue-600 hover:bg-skyblue-700 focus:outline-none focus:shadow-outline-skyblue" (click)="editMode = false; editBankruptcy(bankruptcyID);"
                                color="primary">Измени</button>
                            <button class="mr-1 px-2 py-1 text-sm font-medium text-white transition-colors duration-150 bg-skyblue-600 border border-transparent active:bg-skyblue-600 hover:bg-skyblue-700 focus:outline-none focus:shadow-outline-skyblue" (click)="editMode = false; resetForm();"
                                color="primary">Откажи Измени</button>
                            <button class="mr-1 px-2 py-1 text-sm font-medium text-white transition-colors duration-150 bg-danger border border-transparent active:bg-danger hover:bg-danger focus:outline-none focus:shadow-outline-danger" (click)="editMode = false ; deleteBankruptcy(bankruptcyID)"
                                color="warn">Избриши</button>
                        </div>
                    </form>
                </div>

                <div class="col-md-12">
                    <div class="white-space search-results infinite-1" id="tenderCards" infinite-scroll [infiniteScrollDistance]="2" [scrollWindow]="false" (scrolled)="onScrollUp()">
                        <div *ngIf="filterMode == false">
                            <div *ngFor="let bankruptcy of bankruptciesList | filterAll: searchString" class="container">
                                <div class="card">
                                    <div class="card-header text-dark h-12">
                                        <section>
                                            <b>
                                                <span>{{transformDate(bankruptcy.bankruptcy_date)}}</span>
                                                <mat-icon class="icons-1"
                                                    (click)="generatePDF('open', bankruptcy.bankruptcy_name, bankruptcy.bankruptcy_embs, bankruptcy.bankruptcy_phase, bankruptcy.bankruptcy_description);"
                                                    title="Генерирај PDF документ">picture_as_pdf</mat-icon>
                                                <span class="float-right">
                                                    <mat-icon class="icons-1"
                                                        (click)=" showBankruptciesForm = true; editMode = true; bankruptcyID = bankruptcy.bankruptcy_id;loadBankruptcy(bankruptcy.bankruptcy_name,bankruptcy.bankruptcy_embs,bankruptcy.bankruptcy_date,bankruptcy.bankruptcy_url,bankruptcy.bankruptcy_image, bankruptcy.bankruptcy_description,bankruptcy.bankruptcy_phase); "
                                                        title="Измени">edit</mat-icon>
                                                    <mat-icon class="icons-1"
                                                        (click)="deleteBankruptcy(bankruptcy.bankruptcy_id)"
                                                        title="Избриши">delete</mat-icon>
                                                </span>
                                            </b>
                                        </section>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text">
                                            <mat-checkbox (click)="selectBankruptcies(bankruptcy.bankruptcy_id)" color="primary" matInput #bankruptcyCheck></mat-checkbox>
                                            <b class="ml-1">{{ bankruptcy.bankruptcy_phase }}</b>
                                        </div>
                                        <div class="card-text text-gray">
                                            <span class="text-sm">{{ bankruptcy.bankruptcy_name }}</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div *ngIf="filterMode == true">
                            <div *ngFor="let bankruptcy of bankruptciesList | filterAll: searchString" class="container mt-3 mb-2">
                                <div class="card">
                                    <div class="card-header text-dark w-100">
                                        <section>
                                            <b>
                                                <span>{{transformDate(bankruptcy.bankruptcy_date)}} </span>
                                                <mat-icon class="icons-1"
                                                    (click)="generatePDF('open', bankruptcy.bankruptcy_name, bankruptcy.bankruptcy_embs, bankruptcy.bankruptcy_phase, bankruptcy.bankruptcy_description);"
                                                    title="Генерирај PDF документ">picture_as_pdf</mat-icon>
                                                <span class="float-right">
                                                    <mat-icon class="icons-1"
                                                        (click)=" showBankruptciesForm = true; bankruptcyID = bankruptcy.bankruptcy_id;loadBankruptcy(bankruptcy.bankruptcy_name,bankruptcy.bankruptcy_embs,bankruptcy.bankruptcy_date,bankruptcy.bankruptcy_url,bankruptcy.bankruptcy_image, bankruptcy.bankruptcy_description,bankruptcy.bankruptcy_phase); "
                                                        title="Измени">edit</mat-icon>
                                                    <mat-icon class="icons-1"
                                                        (click)="deleteBankruptcy(bankruptcy.bankruptcy_id)"
                                                        title="Избриши">delete</mat-icon>
                                                </span>
                                            </b>
                                        </section>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text">
                                            <mat-checkbox (click)="selectBankruptcies(bankruptcy.bankruptcy_id)" color="primary" matInput #bankruptcyCheck></mat-checkbox>
                                            <b class="ml-1">{{ bankruptcy.bankruptcy_phase }}</b>
                                        </div>
                                        <div class="card-text text-gray">
                                            <span class="text-sm">{{ bankruptcy.bankruptcy_name }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>