  .btn-primary {
    background-color: rgb(36, 72, 150);
    border: none;
    font-size: 12px;
  }

  .btn-danger{
    background-color: rgb(255, 0, 0);
    border: none;
    font-size: 12px;
    color: #fff;
  }

  .div-1.flex {
    background-color: #EBEDF2;
    border-color: rgb(36, 72, 150);
    border-style: solid;
  }

  mat-label, .font-bold, p, span.mtype{
    font-size: 12px;
  }

  p{
    margin: -1px 0px -3px 0px;
  }
  .h-12{
    height: 3.5rem;
  }

  .w-h-fixed{
    width: 98%;
  }

  input.mat-input-element {
    margin-top: -0.0625em;
    font-size: 12px;
  }

  span.mtype {
    background-color: lightgray;
    color: black;
  }

  .bg-sette {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .w-responsive{
    width: 1360px;
    max-width: calc(100% - 140px);
    margin: 0 auto;
   }

/* .search-results{
  height: 610px;
  max-height: calc(100% - 90px);
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
} */

.search-results{
  height: 610px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.negative-margin{
  margin-left: -1%;
}

.medium-spacing{
  margin: 0rem 0rem 1rem -1rem;
}

 #infinite-1::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   border-radius: 10px;
   background-color: #F5F5F5;
 }

 #infinite-1::-webkit-scrollbar
 {
   width: 10px;
   background-color: #F5F5F5;
 }

 #infinite-1::-webkit-scrollbar-thumb
 {
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgb(36, 72, 150);
   background-color: rgb(36, 72, 150);
 }


 .regular{
  height: auto;
  width: auto;
  font-size: 12px;
 }
