<!-- <header>
    <ul class="navbar-nav mt-3">
        <li class="nav-item pl-3 pb-2 mx-2">
           <mat-form-field appearance="outline">
              <mat-label>Од</mat-label>
              <input #from matInput [matDatepicker]="datepickerRef" name="datepicker" ngModel #dateCtrl="ngModel" required readonly />
              <mat-datepicker-toggle [for]="datepickerRef" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #datepickerRef></mat-datepicker>
              <mat-error *ngIf="dateCtrl.errors?.[required] && deptCtrl.touched">Choose a Date</mat-error>
             </mat-form-field>
        </li>
        <li class="nav-item pl-3 pb-2 mx-2">
            <mat-form-field appearance="outline">
                <mat-label>До</mat-label>
                <input #to matInput [matDatepicker]="datepickerRef1" name="datepicker1" ngModel #dateCtrl="ngModel" required readonly />
                <mat-datepicker-toggle [for]="datepickerRef1" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #datepickerRef1></mat-datepicker>
                <mat-error *ngIf="dateCtrl.errors?.[required] && deptCtrl.touched">Choose a Date
                </mat-error>
            </mat-form-field>
         </li>
         <li class="nav-item pl-3 pb-2 mx-2">
           
         </li>
         <li class="nav-item pl-3 pb-2 mx-2">
           
         </li>
         <li class="nav-item pl-3 pb-2 mx-2">
           
        </li>
        <li class="d-flex nav-item pl-3 py-1 mx-2">
            <input type="next" name="searchString" [(ngModel)]="searchString">
        </li>


    </ul>
</header> -->
